/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kalam&display=swap');

/* Base style for all elements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
     font-family: 'Gloria Hallelujah', cursive;
}

/*Video background*/
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Styles for all class pages that I use in JS file */
.welcome-screen,
.question-screen,
.end-screen, .rules-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position-x: center;
}
.question-screen,
.end-screen, .rules-screen {
    display: none;
}

/* all buttons */
.button-continue, .button-quit, .button-again { 
    width: 150px;
    height: 8vh;  
    font-size: 100%;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px #ffffff7e;
    font-family: 'Gloria Hallelujah', cursive;
}

/* style for main page */
.welcome-screen {
    flex-direction: column;    
}
.welcome-screen h1 {
    font-size: 600%; 
}

.welcome-screen button { 
    width: 150px;
    height: 8vh;  
    font-size: 150%;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px #ffffff7e;
    font-family: 'Gloria Hallelujah', cursive;
}

/* style for rules page */
.rules-screen h1 i {
    color: #f0f8ff;
    position: relative;
    left: 50%;
}

.rules-screen h2,h3 {
    text-align: center;
}

.rules-screen h2 {
    color: #ffffff;
    padding: 10px 0;
    color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

.rules-screen h3, .result {
    color: #f0f8ff;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 10px;
}

.rules-screen h3 span {
    color: black;
}

/* Style Question page */
.question-screen { 
    font-family: 'Kalam', cursive;
}
.question-screen ul {
    font-size: 130%;
    padding-top: 90px;
}
.rules-screen, .question-screen h2, .end-screen  {
    height: auto;
    width: 50%;
    padding: 20px;
    background-color: rgba(102, 101, 101, 0.805);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px #ffffff7e;
    border-left: 1px solid #000000;;
    border-right: 1px solid #000000;;
    border-bottom: 1px solid #000000;;
    position: absolute;
    top: 50px;
}
.question-screen h2 {
    top: 100px;
    width: 70%;
    font-size: 150%;
    padding-bottom: 5px;
}
.question-screen ul {
    padding-top: 100px;
}
.question-screen li {
    list-style-type: none;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 5px #ffffff7e;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Style result page */
.house {
    height: auto;
    width: 70%;
    font-size: 130%;
    padding: 20px;
    background-color: rgba(102, 101, 101, 0.805);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px #ffffff7e;
    border-left: 1px solid #000000;;
    border-right: 1px solid #000000;;
    border-bottom: 1px solid #000000;;
    position: absolute;
    margin-top: 5%;
}



/* Add Media Queries */
@media only screen and (max-width: 770px) {
    #namegame {font-size: 400%;}
    .rules-screen h2, .rules-screen h3 {font-size: 100%;}
    .question-screen h2 {font-size: 110%;}
    .question-screen li {font-size: 80%;}
    .button-continue {
        width: 70px;
        height: 5vh;
        font-size: 70%; }
    .question-screen ul, .end-screen, .rules-screen{width: 550px;}
    .welcome-screen button, .button-quit {width: 90px;
        height: 5vh;
        font-size: 100%}
    .result {font-size: 110%;}
    .button-again { width: 120px;
        height: 5vh;
        font-size: 70%}
}

@media only screen and (max-width: 585px) {
    #namegame {font-size: 300%;}
    .rules-screen h2, .rules-screen h3 {font-size: 90%;}
    .question-screen h2 {font-size: 90%;}
    .question-screen li {font-size: 70%;}
    .button-continue {
        width: 60px;
        height: 5vh;
        font-size: 70%; }
    .question-screen ul, .end-screen, .rules-screen{width: 400px;}
    .welcome-screen button, .button-quit  {width: 70px;
        height: 5vh;
        font-size: 90%}
    .result {font-size: 90%;}
    .button-again { width: 120px;
        height: 5vh;
        font-size: 70%}
}

@media only screen and (max-width: 280px) {
    #namegame {font-size: 150%;}
    .rules-screen h2, .rules-screen h3, .question-screen h2, .question-screen li {font-size: 60%;}
    .button-continue {
        width: 70px;
        height: 5vh;
        font-size: 70%; }
    .question-screen ul, .end-screen, .rules-screen{width: 200px;}
    .welcome-screen button, .button-quit, .button-again  {width: 70px;
        height: 5vh;
        font-size: 70%}
    .result {font-size: 70%;
    }
}

